-r src/requirements.txt
invoke
troposphere

flake8
git+https://github.com/vrtdev/custom-resources.git@master#egg=custom-resources
git+https://github.com/vrtdev/aws-cloudformation-utils.git@master#egg=aws-cloudformation-utils
