-r src/requirements.txt
invoke
troposphere
flake8
git+ssh://git@git.vrt.be:7999/dpcops/aws-cloudformation-helpers.git@master#egg=central-helpers
git+https://github.com/vrtdev/custom-resources.git@master#egg=custom-resources
